@import '../../styles/colors.scss';

.details-page {
    > h1 {
        text-align: center;
    }
    
    &__hr {
        margin: 5px 0;
        height: 2px;
        background:
            repeating-linear-gradient(to right, $grey 0, $grey 10px, transparent 10px, transparent 15px);
    }
}