@import '../../styles/colors.scss';

.home-page {
    > * {
        margin-bottom: 10px;
    }

    .home-page-results {
        &__container {
            border: 1px solid $grey;
            padding: 10px;
        }
    }
}