.home-page {
    
    .home-page-results {
        &__container {
            border: 1px solid #dedede;
            padding: 10px;
        }

        &__empty {
            display: inline-block;
            width: 100%;
            text-align: center;
        }
    }
}