@import '../../styles/colors.scss';

.home-page {
    > * {
        margin-bottom: 10px;
    }

    &__search-container {
        position: relative;
    }

    .home-page-results {
        &__container {
            border: 1px solid $grey;
            padding: 10px;
        }

        &__empty {
            display: inline-block;
            width: 100%;
            text-align: center;
        }
    }
}